<div class="container my-5 shadow shadow-lg cercle-border p-4 my-3 bg-main-light">
    <h3 class="fw-bold">Register Now </h3>

    <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
        <label for="" class="my-2 fw-bold">Name :</label>
        <input formControlName="name" type="text" class="form-control mb-1">
        <div *ngIf="registerForm.controls['name'].errors && registerForm.controls['name'].touched"
            class=" alert alert-danger">
            <p *ngIf="registerForm.controls['name'].getError('required')">User Name is required</p>
            <p *ngIf="registerForm.controls['name'].getError('pattern')">User Name must start with Uppercase</p>
            <p *ngIf="registerForm.controls['name'].getError('minlength')">Min Length 3</p>
            <p *ngIf="registerForm.controls['name'].getError('maxlength')">Max Length 20</p>
        </div>

        <label for="" class="my-2 fw-bold">Email :</label>
        <input formControlName="email" type="email" class="form-control  mb-1">
        <div *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].touched"
            class=" alert alert-danger">
            <p *ngIf="registerForm.controls['email'].getError('required')">Email is required</p>
            <p *ngIf="registerForm.controls['email'].getError('email')">Enter Valid Email</p>
        </div>

        <label for="" class="my-2 fw-bold">Password :</label>
        <input formControlName="password" type="password" class="form-control  mb-1">
        <div *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].touched"
            class=" alert alert-danger">
            <p *ngIf="registerForm.controls['password'].getError('required')">password is required</p>
            <p *ngIf="registerForm.controls['password'].getError('pattern')">Minimum eight characters, at least one
                letter,
                one number and one special character</p>
        </div>

        <label for="" class="my-2 fw-bold">Re-Password :</label>
        <input formControlName="rePassword" type="password" class="form-control mb-1">
        <div *ngIf="registerForm.controls['rePassword'].touched && 
        !matching(registerForm.controls['rePassword'].value, registerForm.controls['password'].value)"
            class=" alert alert-danger">
            <p>Password is not matched</p>
        </div>

        <label for="" class="my-2 fw-bold">Phone Number :</label>
        <input formControlName="phone" type="tel" class="form-control  mb-1">
        <div *ngIf="registerForm.controls['phone'].errors && registerForm.controls['phone'].touched"
            class=" alert alert-danger">
            <p *ngIf="registerForm.controls['phone'].getError('required')">phone is required</p>
            <p *ngIf="registerForm.controls['phone'].getError('pattern')">Enter Valid Egyptian Number</p>
        </div>
        <p *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</p>
        <button [disabled]="!registerForm.valid" *ngIf="!isLoading" type="submit"
            class="btn bg-main text-white ms-auto d-block btn-lg">Register</button>
        <button *ngIf="isLoading" type="button" class="btn bg-main text-white ms-auto d-block"><i
                class="fas fa-spinner fa-spin"></i></button>
    </form>


</div>